<?xml version="1.0" encoding="UTF-8"?>
<suite name="Demo App">
	<test name="TC01" allow-return-values="true">
		<classes>
			<class name="demo.page.project.TC01_DemoApp_SwitchTabs" />
		</classes>
	</test>
	
	<test name="TC02" allow-return-values="true">
		<classes>
			<class name="demo.page.project.TC02_User_Registration" />
		</classes>
	</test>
	
	<test name="TC03" allow-return-values="true">
		<classes>
			<class name="demo.page.project.TC03_SignOn_wrongCred" />
		</classes>
	</test>
	
	<test name="TC04" allow-return-values="true">
		<classes>
			<class name="demo.page.project.TC04_SignOn_correctCred_FlightBooking" />
		</classes>
	</test>
	
	<test name="TC05" allow-return-values="true">
		<classes>
			<class name="demo.page.project.TC05_Reg_SignOn_E2E" />
		</classes>
	</test>
</suite>
	
	